// @import "~bootstrap/scss/bootstrap.scss";
header#app-header{
    @import './partials/header';
}
main#app-main{
    .jumbotron{
        width: 100%;
        height: 450px;
        background-image: url(../img/jumbotron.jpg);
    }
    button{
        background-color: #0282f9;
        color: white;
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        position: absolute;
        left: 20%;
        top: 45%;
    }
    .cards{
        background-color: #1c1c1c;
        width: 100%;
    }
}
